/*  Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* ----------------- Header Part Start ---------------- */
header{
    width: 1440px;
    height: 677px;
    background: #2D25A0;
    color: white;
}
.nav-setup{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navigation{
    height: 44px;
    width: 1161px;
    display: flex;
}
.btn{
    width: 50%;
}
.nav-btn a:first-child{
    color: crimson;
    font-size: 18px;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn a{
    color: white;
    padding: 0 25px 0 0;
}
.nav-btn a:hover{
    color: crimson;
}
.login-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner img{
    width: 556.01px;
    height: 438px;
}
button{
    width: 123px;
    height: 44px;
    background: #E02C6D;
    color: white;
}
.fa-sign-in-alt{
    color: white;
    font-size: 16px;
    margin-right: 10px;
}
/* ------------------------- */
.poster-setup{
    display: flex;
    justify-content: center;
}
.poster{
    display: flex;
    margin-top: 50px;
}

.left-div{
    width: 485px;
    height: 230px;
}
.p-left p{
    font-size: 64px;
    margin-top: 50px;
}
.p-left p span{
    font-size: 64px;
    color: coral;
}
.watch-live{
    width: 168px;
    height: 44px;
}
.watch-live a{
    color: white;
}
.watch-live a i{
    margin-left: 10px;
}
.right-div{
    width: 556.01px;
    height: 438px;
}
/* ----------------- Header Part End ---------------- */

/* -------------Players Information start----------------- */
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.play-border{
    width: 1050px;
    height: 2150px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 500px;
    padding-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.player img{
    width: 300px;
    height: 256px;
    display: block;
    margin: auto;
}
.player-info{
    margin: 20px;
}
h3{
    font-weight: bold;
    color: #000;
    font-size: 28px;
}
.player-info p, .right-part{
    text-align: justify;
    color: #6C6C6C;
}
/* -------------Players Information End----------------- */

/* ---------------Top 6 Team Information------------------ */
.team-area{
    width: 1050px;
    height: 1500px;
    border: 1px solid gainsboro;
}
h2{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    padding: 10PX;
    color:#E02C6D ;
}
.hole-team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    padding-left: 60px;
}

.team-details{
    width: 400px;
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-part img{
    width: 400px;
    height: 270px;
}

/* ---------------Top 6 Team Information End------------------ */


/* ----------------------About Football---------------------- */

.tran-area{
    width: 1200px;
    height: 500px;
    border: 1px solid gainsboro;
}
.box{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.tran-h2 h2{
    width: 5em;
    height: 10em;
    transition: width 2s, height 2s, transform 2s;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:crimson;
}
.tran-h2 h2:hover{
    width: 5em;
    height: 10em;
    transform: rotate(360deg);
}
.tran-p p{
    width: 50em;
    height: 20em;
    font-size: 18px;
    padding: 40px 10px 10px 10px;
    text-align: justify;
    color:gold;
    background-color:navy;
}
span{
    text-transform: uppercase;
    font-size: 36px;
}

/* -------------About Football End-------------- */

/* ----------------Footer Start----------------- */

.border{
    width: 1050px;
    height: 215px;
    text-align: center;
    margin: 30px;
}
.footer-border{
    width: 483.87px;
    height: 213px;
    display: inline-block;
    margin: 0 auto;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.footer-a{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-a a{
    margin: 0 14px 0 14px;
}
.footer-p{
    font-size: 18px;
}
.footer-icon{
    background-color: gainsboro;
    padding: 10px;
    border-radius: 50%;
}
/* ----------------Footer End------------------ */
